.btn-warning, .btn-danger{
	margin: 5px;
	color: #000;	
	font-size: 18px;
}
html,body{
        background: url(main.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-size: 18px;
}
.forma{
	width: 350px;
	background-color: rgba(0, 0, 0, 0.56);
	border-radius: 10px;
	padding: 15px;
	margin: 10px;
	color: #fff;

}
.menu{
	background: #000;
	padding: 20px;

}
.mytable{
	text-align: center;
	background:  #ffb366;
}
.table{

	width: 80%;
	background-color: rgba(0, 0, 0, 0.56);
	border-radius: 10px;
	padding: 15px;
	margin: 10px;
	color: #000;
}